@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-neutral-dpop-black-1: #ffffff;
  --color-neutral-dpop-black-2: #f6f6f6;
  --color-neutral-dpop-black-3: #e7e7e7;
  --color-neutral-dpop-black-4: #d1d1d1;
  --color-neutral-dpop-black-5: #b0b0b0;
  --color-neutral-dpop-black-6: #888888;
  --color-neutral-dpop-black-7: #6d6d6d;
  --color-neutral-dpop-black-8: #5d5d5d;
  --color-neutral-dpop-black-9: #4f4f4f;
  --color-neutral-dpop-black-10: #454545;
  --color-neutral-dpop-black-11: #1f1f1f;
  --color-neutral-dpop-black-12: #121212;
  --color-neutral-dpop-black-13: #000000;

  --color-success-dpop-50: #ffffff;
  --color-success-dpop-100: #e3f9f9;
  --color-success-dpop-200: #d1f4da;
  --color-success-dpop-300: #bbedc9;
  --color-success-dpop-400: #9ee3b3;
  --color-success-dpop-500: #76d596;
  --color-success-dpop-600: #2cc974;
  --color-success-dpop-700: #1ec26d;
  --color-success-dpop-800: #12bd69;
  --color-success-dpop-900: #00843a;

  --color-pending-dpop-50: #fff9e6;
  --color-pending-dpop-100: #fff0c8;
  --color-pending-dpop-200: #ffe7b1;
  --color-pending-dpop-300: #ffdc95;
  --color-pending-dpop-400: #ffcb66;
  --color-pending-dpop-500: #fcb94c;
  --color-pending-dpop-600: #faad14;
  --color-pending-dpop-700: #efa200;
  --color-pending-dpop-800: #eca000;
  --color-pending-dpop-900: #a56900;
  --color-pending-dpop-950: #4c3717;

  --color-primary-dpop-50: #fff5ed;
  --color-primary-dpop-100: #fee9d6;
  --color-primary-dpop-200: #fccfac;
  --color-primary-dpop-300: #faac77;
  --color-primary-dpop-400: #f67f41;
  --color-primary-dpop-500: #f46425;
  --color-primary-dpop-600: #e54411;
  --color-primary-dpop-700: #be3110;
  --color-primary-dpop-800: #972815;
  --color-primary-dpop-900: #792315;
  --color-primary-dpop-950: #400e0a;

  --color-secondary-dpop-50: #e7edf7;
  --color-secondary-dpop-700: #284b7c;
  --color-secondary-dpop-800: #244168;
  --color-secondary-dpop-900: #1d2f49;
  --color-secondary-dpop-950: #111b2c;

  --color-warning-dpop-50: #fff7f6;
  --color-warning-dpop-100: #ffebe9;
  --color-warning-dpop-200: #ffdbd6;
  --color-warning-dpop-300: #ffccc6;
  --color-warning-dpop-400: #ffbcb5;
  --color-warning-dpop-500: #f8a8a0;
  --color-warning-dpop-600: #f08c84;
  --color-warning-dpop-700: #ef4444;
  --color-warning-dpop-800: #e13237;
  --color-warning-dpop-900: #d3232c;
  --color-warning-dpop-950: #661717;

  --color-info-dpop-50: #f5f9ff;
  --color-info-dpop-100: #e9f3ff;
  --color-info-dpop-200: #daecff;
  --color-info-dpop-300: #c2e0ff;
  --color-info-dpop-400: #b3d6fe;
  --color-info-dpop-500: #98c4f8;
  --color-info-dpop-600: #70adf3;
  --color-info-dpop-700: #1990ff;
  --color-info-dpop-800: #1184ec;
  --color-info-dpop-900: #0072dc;
  --color-info-dpop-950: #043463;

  /* BACKGROUND Tokens */
  --bg-white: var(--color-info-dpop-800);
  --text-token: var(--color-info-dpop-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUND Tokens */
    --bg-white: var(--color-neutral-dpop-black-12);
    --text-token: var(--color-info-dpop-300);
  }
}
